recursive-include rtk/templates/ *.js *.css *.woff *.txt *.md *.conf-tpl *.yml-tpl *.py-tpl *.py *.sqlite3 *.html *.png *.svg
include rtk/templates/*
include rtk/templates/conf/*
include rtk/templates/django/*
include rtk/templates/django/TemplateWebApp/*
include rtk/templates/django/TemplateWebApp/static/*
include rtk/templates/django/TemplateWebApp/static/app/*
include rtk/templates/django/TemplateWebApp/static/app/content/*
include rtk/templates/django/TemplateWebApp/static/admin/*
include rtk/templates/django/TemplateWebApp/static/admin/css/*
include rtk/templates/django/TemplateWebApp/static/admin/css/vendor/*
include rtk/templates/django/TemplateWebApp/static/admin/css/vendor/select2/*
include rtk/templates/django/TemplateWebApp/static/admin/js/*
include rtk/templates/django/TemplateWebApp/static/admin/js/admin/*
include rtk/templates/django/TemplateWebApp/static/admin/js/vendor/*
include rtk/templates/django/TemplateWebApp/static/admin/js/vendor/jquery/*
include rtk/templates/django/TemplateWebApp/static/admin/js/vendor/xregexp/*
include rtk/templates/django/TemplateWebApp/static/admin/js/vendor/select2/*
include rtk/templates/django/TemplateWebApp/static/admin/js/vendor/select2/i18n/*
include rtk/templates/django/TemplateWebApp/static/admin/img/*
include rtk/templates/django/TemplateWebApp/static/admin/img/gis/*
include rtk/templates/django/TemplateWebApp/static/admin/fonts/*
include rtk/templates/django/template_app/*
include rtk/templates/django/template_app/migrations/*
include rtk/templates/django/template_app/static/*
include rtk/templates/django/template_app/static/app/*
include rtk/templates/django/template_app/static/app/content/*
include rtk/templates/django/template_app/static/admin/*
include rtk/templates/django/template_app/static/admin/css/*
include rtk/templates/django/template_app/static/admin/css/vendor/*
include rtk/templates/django/template_app/static/admin/css/vendor/select2/*
include rtk/templates/django/template_app/static/admin/js/*
include rtk/templates/django/template_app/static/admin/js/admin/*
include rtk/templates/django/template_app/static/admin/js/vendor/*
include rtk/templates/django/template_app/static/admin/js/vendor/jquery/*
include rtk/templates/django/template_app/static/admin/js/vendor/xregexp/*
include rtk/templates/django/template_app/static/admin/js/vendor/select2/*
include rtk/templates/django/template_app/static/admin/js/vendor/select2/i18n/*
include rtk/templates/django/template_app/static/admin/img/*
include rtk/templates/django/template_app/static/admin/img/gis/*
include rtk/templates/django/template_app/static/admin/fonts/*
include rtk/templates/django/template_app/templates/*
include rtk/templates/django/template_app/templates/registration/*
include rtk/templates/django/template_app/templates/common/*
include rtk/templates/django/template_app/templates/pages/*
include rtk/templates/django/template_app/templates/pages/home/*
include rtk/templates/django/template_app/templates/pages/about/*
include rtk/templates/django/template_app/templates/pages/dashboard/*
include rtk/templates/django/conf/*